

.footer-container {
    border-top: 1px  solid #E1E1E1;
    border-bottom: 1px  solid #E1E1E1;
    padding: 60px 10px;


}


.row-flex {
    display: flex; 
    flex-direction: row;
}

.col {
    
    width: 50%;
}


.col-right {
    text-align: right;
    padding: 10px;

}
.col-left {
    text-align: left;
    padding: 10px;

}

.col-center {
    text-align: left;
    padding: 10px;

}

.p-top-50 {
    padding: 20px 0;
}


















/*
=================================================================================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
===========================================================  Resposive  ======================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
*/



@media screen and (max-width: 600px){

      
    .row-flex { 
        flex-direction: column-reverse;
    }
    .col {
    
        width:100%;
    }

}
