

.JDatePicker {
    z-index: 999999!important; 
    padding: 15px!important; 
    box-shadow: 0 2px 10px rgba(157,206,255,.34);


}
 

.JDheader{
    display: none!important;

}

.JDatePicker .day-items:hover, .JDatePicker .day-items.selected {
    background-color: #0098f4!important;
    border-radius: 3px!important; 
    color: #ffffff;



}

.JDatePicker .day-items { 
    float: right!important;
    text-align: center!important;
    cursor: pointer!important;
    padding: 8px!important;
    border: 1px solid #f2f2f2!important; 
}


 

.input-label-date {
    position: relative;
    width: 100%;
}

.input-label-date input {
    -webkit-appearance: none;
    width: 100%;
    font-family: inherit;
    padding: 12px 5px 12px 0px;
    height: 40px;
    border: 1px solid #E5E5E5;
    font-size: 14px;
    background: none;
    border-radius: 5px;
    color: #223254;
    background-color: #fff;
    transition: all .3s cubic-bezier(0.000, 0.555, 0.025, 0.985);
    text-align: left!important;
    padding: 0 18px!important;
}

.input-label-date .span-label {
    position: absolute;
    top: 12px;
    right: 7px;
    font-size: 12px;
    color: #0090CF;
    z-index: 1;
    transition: all .3s cubic-bezier(0.000, 0.555, 0.025, 0.985);
    background-color: #fff;
    padding: 0px 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: 5px;
}













.date-picer-container {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 3px;
    direction: rtl;
    z-index: 9999999;
    border: 1px solid #E5E5E5;

}

.date-picer-input { 
    display: flex;
    flex-direction: row-reverse;
    padding: 7px 0;

}

.date-picer-input span {
    width: 50%;
    color: #666666;
    text-align: right;
    padding-right: 5px;
    
}

.JDBackground {
    z-index: 3;
    background-color: rgba(0, 0, 0, 0)!important;
}

.date-picker-component { 
    width: 100%; 


}

.popo {
    width: 100%; 
}



.JDatePicker .JC-months {
    position: relative;
    /* display: inline-block; */
    width: 100%;
    display: flex;
}


.JDatePicker .JC-months .holder:last-child {
    float: right;
    width: 100%!important;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 11px 0; 
}


.JDatePicker .JC-months .prev, .JDatePicker .JC-months .next {
    float: right;
    width: 30px!important;
    height: 30px;
    text-align: center;
    transform: rotate(180deg);
    cursor: pointer;
    display: flex;
    background-color: #f4f4f4;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: all .2s linear;

}

 .prev:hover , .next:hover {
    opacity: 0.7;
}
.JDatePicker .print-month {
    font-weight: 700;
}