

.cards-container {
    display: flex;
    flex-direction: row;

}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 40px;

}

.vitrin-image-container {
    position: relative; 
    justify-content: center; 
    display: flex;

}
.vitrin {
    padding: 40px 0;
}

.vitrin .col-20 {
    background-color: #FCFCFC;

}
 .vitrin .col-20 h2  {
    padding: 15px;

    
}
 
.vitrin .col-20 ul li {
    color: #676767;
    text-align: right;
    padding: 8px 20px;

}

.vitrin .col-20 ul li:hover {
    color: #333333; 
    background-color: #f2f2f2;


}

.vitrin-image-container h1 {
    position: absolute;
    z-index: 9999;
    padding: 90px 50px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 2px 6px #333333;


}

.vitrin-image-container h2 {
    position: absolute;
    z-index: 9999; 
    text-align: center;
    color: #f3f3f3;
    padding-top: 30px;


}

.vitrin-image {
    width: 100%;
    padding: 0!important;
    height: 664px;

}










/*
=================================================================================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
===========================================================  Resposive  ======================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
*/



@media screen and (max-width: 800px){
 
    .vitrin{
        display: flex;
        flex-direction: column-reverse;

    }
    .vitrin .col-30 {
        display: none
    }

    .vitrin .col-50, .vitrin .col-20 {
        width: 100%;

    }



}