 .drop-list-container { 
  display: flex;
  flex-direction: row;
  border-radius: 3px; 
  align-items: center;
  position: relative;
 }


option:not(first-child) {
  color: #0090CF;
}

option:first-child {
  color: #aeaeae;
}
.drop-list-container select {
  background-color: #fcfcfc;
  padding:10px;
  border-radius: 4px;
  box-shadow: 0 1px 8px #E8E8E8;
  text-align: center;
  width: 200px;
  direction: rtl;

}


.droplist-arrow {
  width: 15px;
  position: absolute;
  left: 10px;
  top: 12px;

}



 .drop-list-container  select::-ms-expand {
  display: none;
}

 .drop-list-container  select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
 
 .drop-list-container  select:hover::-ms-expand {
  display: block;
}