hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border: none;
    height: 1px; 
    background-color: #E1E1E1;

  }

  .index-line-border {
      text-align: right;
      font-size: 20px;
      color: #333333;
      font-family: 'IRASNSans';
      font-weight: 700;
      padding: 30px 0;

  }

  .index-line-border-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .index-line-border-box div{
      width: 50%;
  }

  .index-see-more {
      text-align: left;
  }

  .index-btn-see-more {
    width: 200px;
    background-color: #fab800;
    border-radius: 50px;
    color: #333333;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    border: 1px solid #F3F3F3;
    box-shadow: 0 1px 8px #E8E8E8;
    transition: ease-in .2s;



  }


  .index-btn-see-more:hover { 
    background-color: #f3f3f3; 
    color: #333333; 
    border: 1px solid #f1f1f1;
    box-shadow: 0 1px 8px #eeeeee; 

}









/*
=================================================================================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
===========================================================  Resposive  ======================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
*/



@media screen and (max-width: 500px){
 

    .index-btn-see-more {
        width: 150px;
        font-size: 14px;

    }




}