
.undermenu-image-siz {
    width: 50px;
    height: 50px; 


}

 

.border-left {
    border-left: 1px solid #D8D8D8;

}

.under-header {
    padding: 40px 0;

}

.under-header .col-80 {
    padding: 0 15px;

}
.under-header  .col-25 .row {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}


@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}










/*
=================================================================================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
===========================================================  Resposive  ======================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
*/



@media screen and (max-width: 999px){
 
    .under-header {
        padding: 40px 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .under-header .col-25 {
        width: 100%;
        padding: 25px 0; 

    }

    .border-left {
        border-left: 0;
        border-bottom: 1px solid #D8D8D8;
    
    }



}


@media screen and (max-width: 533px){
 
    .under-header .col-25 .row{
        flex-direction: column-reverse
    }
    .under-header .col-80, .under-header .col-20 {
        text-align: center;
        width: 100%;

    }

    .undermenu-image-siz {
        width: 90px;
        height: 90px; 
    
    }


}