
.undermenu-image-siz {
    width: 50px;
    height: 50px; 

}

.border-left {
    border-left: 1px solid #D8D8D8;

}

.under-header {
    padding: 40px 0;

}

.under-header  .col-25 .row {
    display: flex;
    align-items: center;
    justify-content: center;
    
}











/*
=================================================================================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
===========================================================  Resposive  ======================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
*/



@media screen and (max-width: 999px){
 
    .under-header {
        padding: 40px 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .under-header .col-25 {
        width: 100%;
        padding: 25px 0; 

    }

    .border-left {
        border-left: 0;
        border-bottom: 1px solid #D8D8D8;
    
    }



}


@media screen and (max-width: 350px){
 
    .under-header .col-25 .row{
        flex-direction: column-reverse
    }
    .under-header .col-80 {
        text-align: center;

    }



}