.dashboard-content {
    direction: rtl;
    padding: 10px;
    
}

.dashboard-content-form { 
    width: 50%; 

}



/*
=================================================================================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
===========================================================  Resposive  ======================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
*/



@media screen and (max-width: 930px){
 
    .dashboard-content-form {
        width: 100%;

    }

    


}
