

.login-container {
    width: 70%; 
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;


}

.row-center {
    display: flex;
    justify-content: center; 
    align-items: center;

}
.login-container h1 {
    padding: 30px 0;
    direction: rtl;
}

.login-container p {
    direction: rtl;
}

.login-form {
    width: 60%;
    background-color: #f5f5f5; 
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding: 40px;
    box-shadow: 0 1px 8px #E8E8E8;


}














/*
=================================================================================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
===========================================================  Resposive  ======================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
=================================================================================================================================================================================
*/



@media screen and (max-width: 800px){
 

    .login-container , .login-form {
        width: 100%;
    }




}


