.header-search-resualt {
    width: 100%; 
    background-color: #f5f5f5;
    margin-top: 5px;
    border-radius: 4px;
    padding: 20px 10px;

}
.search-resualt-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center; 
    justify-content: space-between;
    margin-bottom: 15px;
}

.search-resualt-price-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center; 
}
.custome-search-header {
    width: 60%;
    
}




















@media screen and (max-width:800px) {
    .search-resualt-container {
        display: flex;
        flex-direction: column;
    }
    .search-resualt-container li {
        margin: 7px 0;
        width: 100%;
        padding: 0;
    }
    .custome-search-header { 

    }

    .container {
       max-width: 100%;
       width: 100%;
       padding: 0;

    }

    .search-resualt-price-container {
        display: flex;
        flex-direction: column;
    }


}
